.banner {
    height: 223px;
    max-width: 1240px;
    position: relative;
    margin: auto;
    @include breakpoint {
        height: 111px;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;    
        border-radius: 25px;
        background: #000;
        @include breakpoint {
            border-radius: 10px;
        }
    }
    &__darkFilter {
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
        border-radius: 25px;
        top: 0;
        left: 0;
        position: absolute;
        @include breakpoint {
            border-radius: 10px
        }
    }
    &__txt {
        @include font(48px, 500);
        color: $thirdColor;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        @include breakpoint {
            font-size: 24px;
            line-height: 100%;
            top: 50%;
            left: 10%;
            transform: translate(-10%, -50%);
            white-space: normal;
        }
        &-breakpoint {
            display: none;
            @include breakpoint {
                display: block;
            }
        }
    }
}