.footer {
    @include flex-column-item-center;
    background-color: $footerColor;
    padding-top: 66px;
    
    &__logo {
        height: 36px;
        margin-bottom: 28px;

    }
    &__copyright {
        @include font(24px, 500);
        color: $thirdColor;
        margin-bottom: 29px;
    }
}