.error {
    @include flex-column-item-center;
    color: $primaryColor;
    gap: 139px;
    &__404 {
        @include font(228px, 700);
        font-size: 228px;
        
    }
    &__txt {
        @include font(36px, 500);

        
    }
    &__link {
        @include font(18px, 500);

        color: $primaryColor;
        margin-bottom: 139px;
    }
}