$primaryColor: #FF6060;
$secondaryColor: #F6F6F6;
$thirdColor: #FFFFFF;
$footerColor: #000000;
$linearRedGradient: linear-gradient(to top, #863535, #ff6060);
// $linearGradientColor: linear-gradient(
//   180deg,
//   rgba(255, 255, 255, 0) 0%,
//   rgba(0, 0, 0, 0.5) 100%
// );


