@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto&family=Shrikhand&display=swap');

@mixin basic-font {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    line-height: 142.6%
}

@mixin font($size, $weight) {
    @include basic-font;
    font-size: $size;
    font-weight: $weight;
}
