@mixin flex {
  display: flex;
}
@mixin item-center {
  align-items: center;
}
@mixin column {
  flex-direction: column;
}
@mixin content-center {
  justify-content: center;
}
@mixin space-between {
  justify-content: space-between;
}
@mixin flex-column {
  @include flex;
  @include column;
}
@mixin flex-item-center {
  @include flex;
  @include item-center;
}
@mixin flex-content-center {
  @include flex;
  @include content-center;
}
@mixin flex-between {
  @include flex;
  @include space-between;
}
@mixin flex-column-item-center {
  @include flex;
  @include column;
  @include item-center;
}

@mixin width-height-max {
  width: 100%;
  height: 100%;
}

@mixin breakpoint {
  @media screen and (max-width: 800px) {
    @content;
  }
}
